body {
  min-width: 1200px;
  height: 100vh;
  font-family: 'roboto';
  background-color: #F7F7F7;
}

main {
  position: relative;
  max-width: 1600px;
  height: 88vh;
  margin: 0 auto;
  padding: 20px;
}

/* Colors */
.bg-white { background-color: white; }

.blue-gray { color: #263238; }
.bg-blue-gray { background-color: #263238; }

/* Markdown CSS */
.markdown-body {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 40px;
  background: white;
}

/* Header Component */
#Header input::placeholder {
  color: white;
  font-weight: 300;
}

/* Search Components */
#SearchMain ul[role='listbox'], 
#SearchPackages ul[role='listbox'], 
#SearchMain--header  ul[role='listbox'] {
    max-height: 340px;
    overflow-y: auto;
}

#SearchMain--header input {
  margin-left: 40px;
  color: white;
}

/* React Select */
.Select-menu-outer { z-index: 10; }

/* Recharts */
.recharts-yAxis .recharts-cartesian-axis-tick:first-child .recharts-cartesian-axis-tick-value {
    display: none;
}