body {
  min-width: 1200px;
  height: 100vh;
  font-family: 'roboto';
  background-color: #F7F7F7;
}

main {
  position: relative;
  max-width: 1600px;
  height: 88vh;
  margin: 0 auto;
  padding: 20px;
}

/* Colors */
.bg-white { background-color: white; }

.blue-gray { color: #263238; }
.bg-blue-gray { background-color: #263238; }

/* Markdown CSS */
.markdown-body {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 40px;
  background: white;
}

/* Header Component */
#Header input::placeholder {
  color: white;
  font-weight: 300;
}

/* Search Components */
#SearchMain ul[role='listbox'],
#SearchPackages ul[role='listbox'],
#SearchMain--header  ul[role='listbox'] {
    max-height: 300px;
    overflow-y: auto;
}

#SearchMain--header input {
  margin-left: 40px;
  color: white;
}

/* React Select */
.Select-menu-outer { z-index: 10; }

/* Recharts */
.recharts-yAxis .recharts-cartesian-axis-tick:first-child .recharts-cartesian-axis-tick-value {
    display: none;
}

/* Image Styles */
img {
  image-rendering: -webkit-optimize-contrast;
}

/* Twitter */
.twitter-follow-button {
  background-color: #1e99e6;
  border-radius: 3px;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  padding: 5px 6px 5px 7px;
}

/* React Rotating Text */
#pr-search-examples {
  font-size: 18px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
