body {
  height: 100vh;
  font-family: 'roboto';
  background-color: #F2F2F2;
}

/* Colors */
.bg-white { background-color: white; }

.blue-gray { color: #263238; }
.bg-blue-gray { background-color: #263238; }